@keyframes circles {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  20% {
    transform: translate(-50%, -50%) scale(1.15);
  }

  30% {
    transform: translate(-50%, -50%) scale(1);
  }

  70% {
    transform: translate(-50%, -50%) scale(1.15);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes waterDrop {
  0% {
    transform: scale(.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.9);
  }
}





.hello {
  position: relative;
  z-index: 0;

  &__logo {
    position: relative;
    z-index: 2020;
  }

  &__circles {
    position: absolute;
    top: 50%;
    left: 50%;
    will-change: transform;
    width: 250px;
    height: 250px;
    background: rgba(7, 144, 223, 0.2);
    border-radius: 50%;
    animation: circles 20s ease-in infinite;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      will-change: transform;
      width: 250px;
      height: 250px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      content: "";
      display: block;
      z-index: 1;
      animation: circles 17s ease-out infinite;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      will-change: transform;
      width: 250px;
      height: 250px;
      background: rgba(7, 144, 223, 0.2);
      border-radius: 50%;
      content: "";
      display: block;
      z-index: 1;
      animation: circles 20s ease-in infinite;
    }
  }
}